<mat-sidenav-container fullscreen>
    <mat-sidenav #start>
        <mat-nav-list>
            somme list
        </mat-nav-list>
        <button mat-button tabindex="-1" (click)="start.close()">CLOSE</button>
    </mat-sidenav>
    <div class="container">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <!--<button mat-icon-button (click)="start.open('mouse')">-->
                <!--<mat-icon>menu</mat-icon>-->
                <!--</button>-->

                <h1><a routerLink="" class="nav-title">mKanban</a></h1>

                <span class="spacer"></span>

                <a class="nav-link" [hidden]="isAuthenticated" routerLink="/login"> Log in</a>
                <a class="nav-link" [hidden]="isAuthenticated" routerLink="/register"> Sign up</a>
                <a class="nav-link" [hidden]="!isAuthenticated" routerLink="/user"> {{currentUser?.name}}</a>
                <a class="nav-link" [hidden]="!isAuthenticated" (click)="logout()"> Log out</a>
            </mat-toolbar-row>
        </mat-toolbar>
        <div #root="dir" dir="ltr" class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-sidenav-container>

