<div class="grid grid-pad">
    <div class="col-1-3">
        <div id="col-left" class="content">
            <div class="">
                <div id="col-user" class="">
                    <h1>{{user?.name}}</h1>
                    <ul>
                        <li>
                            <span class="field-name">Username: </span>
                            <span class="">{{user?.username}}</span></li>
                        <li>
                            <span class="field-name">Email: </span>
                            <span class="">{{user?.email}}</span></li>
                        <li>
                            <span class="field-name">Id: </span>
                            <span class="">{{user?.id}}</span></li>
                    </ul>
                </div>

                <div id="col-team" class="">
                    Your teams:
                </div>
            </div>
        </div>
    </div>

    <div class="col-2-3">
        <div id="col-right" class="content">

            <h4>Your projects:</h4>

            <div class="example-container mat-elevation-z2">
                <div class="example-loading-shade"
                     *ngIf="isLoadingResults">
                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                </div>

                <mat-table #table [dataSource]="dataSource" class="example-table" matSortDisableClear
                           matSortDirection="asc">
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef>Project name</mat-header-cell>
                        <mat-cell *matCellDef="let row" (click)="openProject(row.id)">{{ row.name }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="isPublic">
                        <mat-header-cell *matHeaderCellDef>Public</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{ row.isPublic?'public':'private' }}</mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <button mat-raised-button color="primary" (click)="openDialog()">New project</button>
            </div>

        </div>
    </div>
</div>

