<div class="layout-centered mod-white-text u-center-text header-section" data-track-prefix="Header Section">
    <div class="layout-centered-content"><h1>mKanban lets you work more collaboratively and get more done.</h1>
        <p>mKanban’s boards, lists, and cards enable you to organize and prioritize your projects in a fun, flexible and
            rewarding way. </p>  <a class="button mod-primary" href="https://mKanban.com/signup" data-track="Sign Up">
            Sign Up – It’s Free. </a></div>
    <div class="layout-centered-content"><p class="small">Already use mKanban? <a href="https://mKanban.com/login"
                                                                                  data-track="Login">Log in.</a></p>
    </div>
</div>
<div class="board-container background-dark-bc mod-white-text u-center-text layout-centered">
    <div class="board-slider-wrap ">
        <div class="board background-dark-bc" style="display: block; z-index: 1;">
            <div class="layout-centered-content mod-white-text"><p> The Design Team shares updates on current projects
                so everyone in the company knows what's going on. </p></div>
        </div>
        <div class="board background-dark-bc active" style="z-index: 3;">
            <div class="layout-centered-content mod-white-text"><p> Onboarding new employees is easy for the People Team
                since they share orientation details directly on a mKanban board. </p></div>
        </div>
        <div class="board background-dark-bc">
            <div class="layout-centered-content mod-white-text"><p>The Marketing Team moves blog content through the
                editorial calendar all the way from "Writing" to "Published". </p></div>

        </div>
        <div class="board background-dark-bc">
            <div class="layout-centered-content mod-white-text"><p> The Sales Team updates the status of leads directly
                in the sales pipeline for all to see. </p></div>

        </div>
        <div class="board background-dark-bc">
            <div class="layout-centered-content mod-white-text"><p> Since the Product Roadmap is on a mKanban board, the
                Product team can focus on building rather than endless status update meetings. </p></div>

        </div>
    </div>
    <div class="board-overlay background-dark-bc">
        <div class="layout-centered-content mod-white-text u-center-text"><p>From startups to Fortune 500 companies,
            mKanban is the most visual way for teams to collaborate on any project. </p>  <a class="button mod-primary"
                                                                                             href="https://mKanban.com/signup"
                                                                                             data-track="Sign Up">
            Create
            Your Board </a></div>
    </div>
</div>
<div class="layout-centered u-center-text">
    <div class="layout-centered-content"><p>What are you waiting for?<br> <b>Sign up for free</b> and become one of the
        millions of people around the world who have fallen in love with mKanban. </p></div>
    <div class="layout-centered-content"><p class="small">Already use mKanban? <a href="https://mKanban.com/login"
                                                                                  data-track="Login">Log in.</a></p>
    </div>
</div>

<div class="layout-centered mod-white-text u-center-text header-section" data-track-prefix="Header Section">
    <div class="layout-centered-content"><h1>mKanban lets you work more collaboratively and get more done.</h1>
        <p>mKanban’s boards, lists, and cards enable you to organize and prioritize your projects in a fun, flexible and
            rewarding way. </p>  <a class="button mod-primary" href="https://mKanban.com/signup" data-track="Sign Up">
            Sign Up – It’s Free. </a></div>
    <div class="layout-centered-content"><p class="small">Already use mKanban? <a href="https://mKanban.com/login"
                                                                                  data-track="Login">Log in.</a></p>
    </div>
</div>
<div class="board-container background-dark-bc mod-white-text u-center-text layout-centered">
    <div class="board-slider-wrap ">
        <div class="board background-dark-bc" style="display: block; z-index: 1;">
            <div class="layout-centered-content mod-white-text"><p> The Design Team shares updates on current projects
                so everyone in the company knows what's going on. </p></div>
        </div>
        <div class="board background-dark-bc active" style="z-index: 3;">
            <div class="layout-centered-content mod-white-text"><p> Onboarding new employees is easy for the People Team
                since they share orientation details directly on a mKanban board. </p></div>
        </div>
        <div class="board background-dark-bc">
            <div class="layout-centered-content mod-white-text"><p>The Marketing Team moves blog content through the
                editorial calendar all the way from "Writing" to "Published". </p></div>

        </div>
        <div class="board background-dark-bc">
            <div class="layout-centered-content mod-white-text"><p> The Sales Team updates the status of leads directly
                in the sales pipeline for all to see. </p></div>

        </div>
        <div class="board background-dark-bc">
            <div class="layout-centered-content mod-white-text"><p> Since the Product Roadmap is on a mKanban board, the
                Product team can focus on building rather than endless status update meetings. </p></div>

        </div>
    </div>
    <div class="board-overlay background-dark-bc">
        <div class="layout-centered-content mod-white-text u-center-text"><p>From startups to Fortune 500 companies,
            mKanban is the most visual way for teams to collaborate on any project. </p>  <a class="button mod-primary"
                                                                                             href="https://mKanban.com/signup"
                                                                                             data-track="Sign Up">
            Create
            Your Board </a></div>
    </div>
</div>
<div class="layout-centered u-center-text">
    <div class="layout-centered-content"><p>What are you waiting for?<br> <b>Sign up for free</b> and become one of the
        millions of people around the world who have fallen in love with mKanban. </p></div>
    <div class="layout-centered-content"><p class="small">Already use mKanban? <a href="https://mKanban.com/login"
                                                                                  data-track="Login">Log in.</a></p>
    </div>
</div>

<div class="layout-centered mod-white-text u-center-text header-section" data-track-prefix="Header Section">
    <div class="layout-centered-content"><h1>mKanban lets you work more collaboratively and get more done.</h1>
        <p>mKanban’s boards, lists, and cards enable you to organize and prioritize your projects in a fun, flexible and
            rewarding way. </p>  <a class="button mod-primary" href="https://mKanban.com/signup" data-track="Sign Up">
            Sign Up – It’s Free. </a></div>
    <div class="layout-centered-content"><p class="small">Already use mKanban? <a href="https://mKanban.com/login"
                                                                                  data-track="Login">Log in.</a></p>
    </div>
</div>
<div class="board-container background-dark-bc mod-white-text u-center-text layout-centered">
    <div class="board-slider-wrap ">
        <div class="board background-dark-bc" style="display: block; z-index: 1;">
            <div class="layout-centered-content mod-white-text"><p> The Design Team shares updates on current projects
                so everyone in the company knows what's going on. </p></div>
        </div>
        <div class="board background-dark-bc active" style="z-index: 3;">
            <div class="layout-centered-content mod-white-text"><p> Onboarding new employees is easy for the People Team
                since they share orientation details directly on a mKanban board. </p></div>
        </div>
        <div class="board background-dark-bc">
            <div class="layout-centered-content mod-white-text"><p>The Marketing Team moves blog content through the
                editorial calendar all the way from "Writing" to "Published". </p></div>

        </div>
        <div class="board background-dark-bc">
            <div class="layout-centered-content mod-white-text"><p> The Sales Team updates the status of leads directly
                in the sales pipeline for all to see. </p></div>

        </div>
        <div class="board background-dark-bc">
            <div class="layout-centered-content mod-white-text"><p> Since the Product Roadmap is on a mKanban board, the
                Product team can focus on building rather than endless status update meetings. </p></div>

        </div>
    </div>
    <div class="board-overlay background-dark-bc">
        <div class="layout-centered-content mod-white-text u-center-text"><p>From startups to Fortune 500 companies,
            mKanban is the most visual way for teams to collaborate on any project. </p>  <a class="button mod-primary"
                                                                                             href="https://mKanban.com/signup"
                                                                                             data-track="Sign Up">
            Create
            Your Board </a></div>
    </div>
</div>
<div class="layout-centered u-center-text">
    <div class="layout-centered-content"><p>What are you waiting for?<br> <b>Sign up for free</b> and become one of the
        millions of people around the world who have fallen in love with mKanban. </p></div>
    <div class="layout-centered-content"><p class="small">Already use mKanban? <a href="https://mKanban.com/login"
                                                                                  data-track="Login">Log in.</a></p>
    </div>
</div>

<div class="layout-centered mod-white-text u-center-text header-section" data-track-prefix="Header Section">
    <div class="layout-centered-content"><h1>mKanban lets you work more collaboratively and get more done.</h1>
        <p>mKanban’s boards, lists, and cards enable you to organize and prioritize your projects in a fun, flexible and
            rewarding way. </p>  <a class="button mod-primary" href="https://mKanban.com/signup" data-track="Sign Up">
            Sign Up – It’s Free. </a></div>
    <div class="layout-centered-content"><p class="small">Already use mKanban? <a href="https://mKanban.com/login"
                                                                                  data-track="Login">Log in.</a></p>
    </div>
</div>
<div class="board-container background-dark-bc mod-white-text u-center-text layout-centered">
    <div class="board-slider-wrap ">
        <div class="board background-dark-bc" style="display: block; z-index: 1;">
            <div class="layout-centered-content mod-white-text"><p> The Design Team shares updates on current projects
                so everyone in the company knows what's going on. </p></div>
        </div>
        <div class="board background-dark-bc active" style="z-index: 3;">
            <div class="layout-centered-content mod-white-text"><p> Onboarding new employees is easy for the People Team
                since they share orientation details directly on a mKanban board. </p></div>
        </div>
        <div class="board background-dark-bc">
            <div class="layout-centered-content mod-white-text"><p>The Marketing Team moves blog content through the
                editorial calendar all the way from "Writing" to "Published". </p></div>

        </div>
        <div class="board background-dark-bc">
            <div class="layout-centered-content mod-white-text"><p> The Sales Team updates the status of leads directly
                in the sales pipeline for all to see. </p></div>

        </div>
        <div class="board background-dark-bc">
            <div class="layout-centered-content mod-white-text"><p> Since the Product Roadmap is on a mKanban board, the
                Product team can focus on building rather than endless status update meetings. </p></div>

        </div>
    </div>
    <div class="board-overlay background-dark-bc">
        <div class="layout-centered-content mod-white-text u-center-text"><p>From startups to Fortune 500 companies,
            mKanban is the most visual way for teams to collaborate on any project. </p>  <a class="button mod-primary"
                                                                                             href="https://mKanban.com/signup"
                                                                                             data-track="Sign Up">
            Create
            Your Board </a></div>
    </div>
</div>
<div class="layout-centered u-center-text">
    <div class="layout-centered-content"><p>What are you waiting for?<br> <b>Sign up for free</b> and become one of the
        millions of people around the world who have fallen in love with mKanban. </p></div>
    <div class="layout-centered-content"><p class="small">Already use mKanban? <a href="https://mKanban.com/login"
                                                                                  data-track="Login">Log in.</a></p>
    </div>
</div>
